<div class="footer">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("LogoImage.png", alt: "logo", class: "logo-image") %>
    </div>
    <div class="col-md-8">
      <h3>Mypetcentre.com</h3>
      <p>This is not a real working site and does not represent a real organisation. This is a fictional site created for a class project at The University of Sydney. Please do not attempt to use this site</p>
      <p>Contact us:</p>
      <ul>
        <li>Email: contasct@mypetcentre.com</li>
        <li>Phone: 5512341234</li>
      </ul>
      <a href="#">FAQ</a> |
      <a href="#">Terms & conditions</a> |
      <a href="#">Privacy</a>
    </div>
  </div>
</div>
