<div class="main-body">

  <h2>Thank you, your opinion is very import to us!</h2>
  <p>If you like to leave a comment, write it here, our staff will look at it, and it could be helpful for other users</p>
  <textarea class="form-control" rows="6"></textarea><br>
  <button class="btn btn-primary btn-bg">Submit</button>

</div>